:root {
    --info: rgb(42, 212, 255);
    --maroon: #53212b;
    --white: #fffbf5;
    --black: #010101;
    --lilblack: #1b0000;
    --gold: #ffd700;
    --lightgrey: #dadada;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* navbar */
.navbar-nav a:hover {
    color: #ea8e4d;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid #6F4E37;
    transform: scaleX(0);
    transition: 0.1s linear;
}

.logo a{
    color: #6F4E37;
}

.navbar a:hover::after {
    transform: scaleX(0.8);
}

.logo a:hover {
    color: #ea8e4d;
}

.navbar .logo a::after {
    content: "";
    display: relative;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid #6F4E37;
    transform: scaleX(0);
    transition: 0.1s linear;
}

.navbar .logo a:hover::after {
    transform: scaleX(0.8);
}

.button{
    color: #6F4E37;
}

#navbar {
    z-index: 999999999999999;
    unicode-bidi: isolate;
}

/* .navbar-clone {
    position: fixed !important;
    z-index: 1008;
    top: 0;
    left: 0;
    transform: translateY(-100%); */
/* } */ 

.pendaftar{
    z-index: 100;
    position: relative;
    bottom: 60%;
}


.social {
    background-color: #0a0a0a;
}

.bottom_navbar {
    padding-bottom: 400rem;
}

.whatsapp {
    z-index: 150;
}